* {
    margin:0px;
    padding:0px;
}

body {
    background:lightblue;
    color:black;
}



.nav {
    list-style-type: none;
    background: gray;
    padding:6px;
}

.nav li{
    display:inline-block; 
}

#navDiv {
    border: solid black 20px;
}

.navLink{
    position: relative;
    text-decoration: none;
    padding:20px;

    font-size: 25px;
    color:blue;
}
